<manifest
    package="com.aware.plugin.indoor_outdoor"
    xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
    <uses-permission android:name="com.google.android.gms.permission.ACTIVITY_RECOGNITION"/>
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>
    <uses-permission android:name="android.permission.READ_PHONE_STATE"/>
    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE"/>

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name">
        <service android:exported="true" android:name="com.aware.plugin.indoor_outdoor.Plugin"/>
        <!--<service android:name="com.aware.plugin.indoor_outdoor.ActivityRecognitionService"></service>-->
        <activity
            android:name="com.aware.plugin.indoor_outdoor.Settings"
            android:exported="true"/>
        <!--<provider-->
            <!--android:name="com.aware.plugin.indoor_outdoor.ActivityProvider"-->
            <!--android:authorities="com.aware.plugin.indoor_outdoor.provider"-->
            <!--android:exported="true"-->
            <!--android:readPermission="com.aware.READ_CONTEXT_DATA"-->
            <!--android:writePermission="com.aware.WRITE_CONTEXT_DATA"/>-->
        <provider
            android:name="com.aware.plugin.indoor_outdoor.LocationProvider"
            android:authorities="com.aware.plugin.indoor_outdoor.provider.location"
            android:exported="true"
            android:readPermission="com.aware.READ_CONTEXT_DATA"
            android:writePermission="com.aware.WRITE_CONTEXT_DATA"/>
    </application>
</manifest>
